!!! XML
!!! 1.1
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      Posts:
      = controller.action_name
    = javascript_include_tag :defaults
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "blitzer/jquery-ui-1.7.1.custom.css"
  %body
    - if flash[:notice]
      .ui-state-highlight.ui-corner-all
        %p
          %span.ui-icon.ui-icon-info.label-icon
          = flash[:notice]
    - if flash[:error]
      .ui-state-error.ui-corner-all
        %p
          %span.ui-icon.ui-icon-alert.label-icon
          = flash[:error]
    = yield
